!!!
%html
	%head
		%script{ :src => "js/jquery-1.9.1.min.js" }
		%script{ :src => "bootstrap/js/bootstrap.min.js" }
		%link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen")
		%link(rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css")
		%link(rel="stylesheet" href="css/style.css")
	%body
		.container
			.row
				.span8
					.navbar.navbar-fixed-top
						.navbar-inner
							.container-fluid
								%a.brand{ :href => '#' } Allods Deploy System
								%ul.nav
									%li
										%a{ :href => '/'} New job
									%li
										%a{ :href => '/results'} All jobs
									%li
										%a{ :href => '/ccugrep'} CCU Grep
	%div{ :id => "container" }
		%div{ :id => "content" }
			=yield
