%table{ :border => 0, :width => "100%", :height => "100%" }
 %tr{ :align => "center", :height => "10%" }
  %td{ :align => "center", :height => "10%"}
   %h1 Tasks list
 %tr
  %td{ :align => "left", :valign => "top", :height => "10%"}
   %h2 Current tasks:
   %pre
    - result.each do |row|
     = row
 %tr
  %td{ :align => "left", :valign => "top"}
   %h2 Tasks in queue:
   %pre
    - queue.each do |row|
     = row

%script{ :src => "js/own-functions.js" }

