%html
%title Results page for all shards
%body
%table{ :border => 0, :width => "100%", :height => "100%" }
 %tr{ :align => "center", :height => "10%" }
  %td{ :align => "center", :height => "10%"}
   %font{ :size => 5, :color => "red" }
   %h1 Jobs list
 %tr{ :align => "center", :height => "5%" }
  %td{ :align => "center", :valign => "top", :height => "5%"}
   %a{ :href => "/" } add new job
   %font{ :size => 3, :color => "black" }
 %tr
  %td{ :align => "left", :valign => "top", :height => "10%"}
   %h2 Current task:
   %pre= locals[:result]
 %tr
  %td{ :align => "left", :valign => "top"}
   %h2 Tasks in queue:
   %pre= locals[:queue]

