%html
%title Success
%body
%table{ :border => 0, :width => "100%", :height => "100%" }
 %tr{ :align => "center", :height => "30%" }
  %td{ :align => "center", :height => "30%"}
   %font{ :size => 5, :color => "red" }
    Jobs list
   %br
   %font{ :size => 3, :color => "black" }
 %tr
  %td{ :align => "left", :valign => "top"}
   %br
   %pre= locals[:result]

